/* Style sheet for the JavaFX object inspector */

.inspector .expand-button {
  -fx-background-color: black, white;
  -fx-background-insets: 0, 1;
  -fx-background-radius: 0, 0;
  -fx-padding: 1 3 1 3;
  -fx-font: 12px 'monospace';
  -fx-text-fill: black;
}
