html, body {
  height: 99%;
}

div.fill-parent-height {
  height: 100%;
}

ui5-tabcontainer {
  height: 100%;
}

ui5-tabcontainer.main-tab-container {
  height: calc(100% - 30px - 100px);
}

div.map-editor-tab-content {
  height: 100%;
  display: flex;
  flex-direction: row;
}

div.map-editor-tab-content > .component-palette {
  width: 150px;
  min-width: 50px;
  max-width: 250px;
  flex: 1 0 20%;
}

div.map-editor-tab-content > .component-palette::part(list) {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

div.map-editor-tab-content > .component-palette > .component-group {
  width: 100%;
}

div.map-editor-tab-content > .component-palette > .component-button {
  width: 44px;
  height: 40px;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  padding: 1px 1px;
  align-content: center;
  flex: 0 0 auto;
}

div.map-editor-tab-content > .component-palette > .component-button:not([selected]) {
  background-color: #eeeeee;
}

div.map-editor-tab-content > .component-palette > .component-button[selected] {
  background-color: rgb(169, 208, 245);
}

.component-button::part(native-li) {
  padding: 0;
}

.component-button-icon {
  margin-left: 5px;
}

div.map-editor-tab-content > .map-view {
  flex: 5 1 60%;
  min-width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

div.map-editor-tab-content > .map-view > .editing-map {
  flex: 3 0;
  overflow: scroll;
  width: 100%;
  min-width: 50px;
}

div.map-editor-tab-content > .map-view > .map-view-toolbar {
  /*flex-grow: 0;*/
}

#floor-selector {
  width: 75px;
}

div.map-editor-tab-content > .object-inspector-column {
  width: 200px;
  min-width: 100px;
  max-width: 500px;
  flex: 1 0 20%;
}

.object-inspector-value-input {
  width: 100%;
  min-width: 50px;
}

.compiler-log-container {
  height: 100px;
  width: 100%;
}

.compiler-log {
  height: 100%;
  width: 100%;
  resize: none;
}
